@model e_corp.Models.Sessions
@using Microsoft.AspNetCore.Identity
@using e_corp.Areas.Identity.Data
@using System.Linq
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Sessions";

    // get the user's id
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;

    // get the current date
    DateTime currentDate = DateTime.Today;
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>

<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center">
    @if (Model.CoachID != null)
    {
        bool hasFutureEvents = false;

        @foreach (var session in Model.Events.OrderBy(s => s.Date))
        {
            // Check for future events
            if (Model.CoachID == session.CoachId && session.Date.Date >= currentDate)
            {
                hasFutureEvents = true;

                <div class="card text-center text-light" style="width: 18rem; border-radius: 10px">
                    <div class="card-body bg-dark" style="border-radius: 10px">
                        <h5 class="card-title" style="margin-top: 20px">@session.Date</h5>
                        <p class="card-text" style="margin-top: 20px">@session.Name</p>
                        <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                    </div>
                </div>
            }
        }

        if (!hasFutureEvents)
        {
            <div class="text-center fs-4 text-danger">
                <p><b>No sessions exist</b></p>
            </div>
        }
    }
    else if (User.IsInRole("Coach"))
    {
        @foreach (var session in Model.Events.OrderBy(s => s.Date))
        {
            @if (userId == session.CoachId)
            {
                <div class="card text-center text-light" style="width: 18rem; border-radius: 10px">
                    <div class="card-body bg-dark" style="border-radius: 10px">
                        <h5 class="card-title" style="margin-top: 20px">@session.Date.ToString("dd-MM-yyyy")</h5>
                        <p class="card-text" style="margin-top: 20px">@session.Name</p>
                        <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                    </div>
                </div>
            }
        }
    }
    else if (User.IsInRole("Admin"))
    {
        @foreach (var session in Model.Events.OrderBy(s => s.Date))
        {
            <div class="card text-center text-light" style="width: 18rem; border-radius: 10px">
                <div class="card-body bg-dark" style="border-radius: 10px">
                    <h5 class="card-title" style="margin-top: 20px">@session.Date.ToString("dd-MM-yyyy")</h5>
                    <p class="card-text" style="margin-top: 20px">@session.Name</p>
                    <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                </div>
            </div>
        }
    }
    else if ((!(User.IsInRole("Admin"))) && (!(User.IsInRole("Coach"))))
    {
        @foreach (var session in Model.Events.OrderBy(s => s.Date))
        {
            if (session.Date.Date >= currentDate)
            {
                <div class="card text-center text-light" style="width: 18rem; border-radius: 10px">
                    <div class="card-body bg-dark" style="border-radius: 10px">
                        <h5 class="card-title" style="margin-top: 20px">@session.Date.ToString("dd-MM-yyyy")</h5>
                        <p class="card-text" style="margin-top: 20px">@session.Name</p>
                        <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="text-center fs-4 text-danger">
            <p><b>No sessions exist</b></p>
        </div>
    }
</div>
