@model e_corp.Models.Sessions
@using Microsoft.AspNetCore.Identity
@using e_corp.Areas.Identity.Data
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Sessions";

    // get the user's id
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;

    // get the current date
    DateTime currentDate = DateTime.Today;
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>


<div style=" display: flex; flex-wrap: wrap; gap: 20px; justify-content: center">
    <!-- This is for viewing specific coaches future events if it passed to the controller  -->
    @if (Model.CoachID != null)
    {
        @foreach (var session in Model.Events!)
        {
            // Adding the condition for future events
            @if (Model.CoachID == session.CoachId && session.Date.Date >= currentDate)
            {
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 20px">@session.Date</h5>
                        <p class="card-text" style="margin-top: 20px">@session.Name</p>
                        <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                    </div>
                </div>
            }
        }
    }
    
    // This is for coaches viewing only their own events
    else if (User.IsInRole("Coach"))
    {
        @foreach (var session in Model.Events!)
        {
            @if (userId == session.CoachId)
            {
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 20px">@session.Date</h5>
                        <p class="card-text" style="margin-top: 20px">@session.Name</p>
                        <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                    </div>
                </div>
            }
        }
    }

    // This is for admins viewing all events
    else if (User.IsInRole("Admin"))
    {
        @foreach (var session in Model.Events)
        {
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: 20px">@session.Date</h5>
                    <p class="card-text" style="margin-top: 20px">@session.Name</p>
                    <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                </div>
            </div>
        }
    }

    // This is for users viewing all future events
    else
    {
        @foreach (var session in Model.Events)
        {
            if (session.Date.Date >= currentDate)
            {
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 20px">@session.Date</h5>
                        <p class="card-text" style="margin-top: 20px">@session.Name</p>
                        <a class="btn btn-primary" style="margin: auto" asp-action="Event" asp-route-id="@session.SessionID">More Details</a>
                    </div>
                </div>
            }
        }
    }



</div>

