@model e_corp.Models.SessionView
@using Microsoft.AspNetCore.Identity
@using e_corp.Areas.Identity.Data
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Session";
    // get the user's id
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
    // get the current coaches bookings
    var coachBookings = Model.Bookings.Where(b => b.CoachID == userId).ToList();
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Date</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Coach: @Model.CoachName</li>
        <li class="list-group-item">Location: @Model.Location</li>
    </ul>
    <div class="card-body">
        
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-danger" style="margin: auto" asp-action="DeleteEvent" asp-route-id="@Model.SessionID">Delete Session</a>
            <a class="btn btn-danger" style="margin: auto" asp-action="CreateEvent" asp-route-id="@Model.SessionID">Edit Session</a>
        }
        @if ((!(User.IsInRole("Coach"))) && (!(User.IsInRole("Admin"))))
        {
            <a class="btn btn-success" style="margin: auto" asp-action="Book" asp-route-id="@Model.SessionID">Book Session</a>
            <a class="btn btn-primary" style="margin: auto" asp-action="Coach" asp-route-id="@Model.CoachID">Visit Coach Profile</a>
        }
    </div>
</div>

@if (userId == Model.CoachID)
{

    @if (coachBookings.Any())
    {
        <div class="text-center">
            <h1 class="display-4 fw-bold fs-200">Members Attending</h1>
        </div>

        <div class="row justify-content-center">
            <table class="table w-auto align-content-center">
                <thead class="table-dark">
                    <tr>
                        <th>Member Email</th>
                        <th class="text-center">Member ID</th>
                        <th class="text-center">Booking ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in coachBookings)
                    {
                        <tr>
                            <td class="align-middle fw-bold">
                                @booking.MemberEmail
                            </td>
                            <td class="text-center align-middle">
                                <b>@booking.MemberID</b>
                            </td>
                            <td class="text-center align-middle">
                                <b>@booking.BookingID</b>
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-primary" asp-action="" asp-route-id="">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4 fw-bold fs-200" style="color: red">No Members Have Booked This Session</h1>
        </div>
    }
}
