@model e_corp.Models.SessionView

@{
    ViewData["Title"] = "Session";
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Date</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Coach: @Model.CoachName</li>
        <li class="list-group-item">Location: @Model.Location</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
