@using Microsoft.AspNetCore.Identity
@using e_corp.Areas.Identity.Data
@inject UserManager<IdentityUser> UserManager
@model e_corp.Models.Homepage

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
    var userId = user?.Id;
}

@if (!(User.Identity.IsAuthenticated))
{
    <div class="text-center">
        <h1 class="display-4 fw-bold fs-200">Anyone for Tennis</h1>
    </div>
    <div class="text-center">
        <p><b>Anyone for Tennis is a tennis club based in the heart of the city of Darwin. We offer a range of tennis sessions for all ages and abilities.</b></p>
    </div>
    <div class="text-center" style="margin: 10px; margin-top: 250px">
        <a class="btn btn-success" style="margin: auto; font-size: 2rem" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn btn-primary" style="margin: auto; font-size: 2rem" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
    <div class="text-center">
        <p>An account is required to access services.</p>
    </div>
}

@if ((User.Identity.IsAuthenticated) && (!(User.IsInRole("Admin"))) && (!(User.IsInRole("Coach"))))
{
    <div class="text-center">
        <h1 class="display-4 fw-bold fs-200">Anyone for Tennis</h1>
    </div>
    <div class="text-center fs-4">
        <p><b>Anyone for Tennis is a tennis club based in the heart of the city of Darwin. We offer a range of tennis sessions for all ages and abilities.</b></p>
    </div>

    <!-- Check for future bookings for the user and order by date -->
    @if (Model.HomeBookings != null && Model.HomeBookings.Any(booking => booking.MemberID == userId && booking.Date > DateTime.Now))
    {
        <div class="text-center" style="margin-top: 8rem">
            <h1 class="display-10 fw-bold fs-50 text-dark">Your Upcoming Sessions</h1>
        </div>
        <div style=" display: flex; flex-wrap: wrap; justify-content: center; gap: 20px">

            @foreach (var booking in Model.HomeBookings.Where(booking => booking.MemberID == userId && booking.Date > DateTime.Now).OrderBy(b => b.Date))
            {
                <div class="card" style="border: solid; border-width: 3px; border-color: black; border-radius: 7px">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light"><b>@booking.SessionName</b></h5>
                        <p class="card-text text-light">@booking.Date</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: white"><b>Coach:</b> @booking.CoachName</li>
                        <li class="list-group-item" style="background-color: white"><b>Coach Contact:</b> @booking.CoachEmail</li>
                        <li class="list-group-item" style="background-color: white"><b>Location:</b> @booking.Location</li>
                    </ul>
                </div>
            }

        </div>
        <div class="text-center" style="margin-top: 20px">
            <a class="btn btn-primary" style="margin: auto; font-size: 1.5rem" asp-area="Training" asp-action="Bookings">Manage Bookings</a>
        </div>
    }
    else
    {
        <div class="text-center" style="margin-top: 6rem">
            <h1 class="display-10 fw-bold fs-50 text-dark">Meet our Coaches</h1>
        </div>
        <div style=" display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 2rem">

            <!-- Show all coaches  -->
            @foreach (var coach in Model.HomeCoaches!)
            {
                <div class="card" style="width: 18rem; ">
                    <img src="@coach.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">@coach.Name</h5>
                    </div>
                </div>
            }
        </div>
        <div class="text-center" style="margin-top: 20px">
            <a class="btn btn-primary" style="margin: auto; font-size: 1.5rem" asp-area="Training" asp-action="Coaches">View Coach Profiles</a>
        </div>
    }
    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="bg-light w-100 text-center" style="margin-top: 100px; margin-bottom: 100px; border-radius: 10px">
            <h1 class="display-10 fw-bold fs-60 text-dark" style="margin-top: 20px">Member User Guide</h1>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6LPhdaTzUz8?si=byXFQl4JXo-d7l0H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
    </div>
}

<!-- show a specific coaches future sessions  -->
@if (User.IsInRole("Coach"))
{
    <div class="text-center">
        <h1 class="display-4 fw-bold fs-200">Anyone for Tennis</h1>
    </div>
    <div class="text-center fs-4">
        <p><b>Anyone for Tennis is a tennis club based in the heart of the city of Darwin. We offer a range of tennis sessions for all ages and abilities.</b></p>
    </div>
    var futureSessions = Model.HomeSessions
                            .Where(session => session.CoachId == userId && session.Date > DateTime.Now)
                            .OrderBy(session => session.Date)
                            .ToList();

    if (futureSessions.Any())
    {
        <div class="text-center" style="margin-top: 8rem">
            <h1 class="display-10 fw-bold fs-50 text-dark">Your Upcoming Coaching Sessions</h1>
        </div>
        <div style=" display: flex; flex-wrap: wrap; justify-content: center; gap: 20px">
            @foreach (var session in futureSessions)
            {
                <div class="card" style="border: solid; border-width: 3px; border-color: black; border-radius: 7px">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light"><b>@session.Name</b></h5>
                        <p class="card-text text-light">@session.Date</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: white"><b>Location:</b> @session.Location</li>
                    </ul>
                </div>
            }
        </div>
        <div class="text-center" style="margin-top: 20px">
            <a class="btn btn-primary" style="margin: auto; font-size: 1.5rem" asp-area="Training" asp-action="Events">View Sessions</a>
        </div>
        <div style="display: flex; flex-wrap: wrap; justify-content: center">
            <div class="bg-light w-100 text-center" style="margin-top: 100px; margin-bottom: 100px; border-radius: 10px">
                <h1 class="display-10 fw-bold fs-60 text-dark" style="margin-top: 20px">Coach User Guide</h1>
                <div class="video-container" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EBT3blU_bjE?si=xw5SYNLjgrKWRjqS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    }
}


@if (User.IsInRole("Admin"))
{
    <div class="container py-5">
        <div class="row">
            <div class="col p-5">
                <h1> <i class="fa fa-tachometer" aria-hidden="true"></i> Admin Dashboard</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="text-decoration-none" asp-controller="Training" asp-action="Coaches">
                    <div class="card p-3 shadow text-center border-0" style="background-color: darkred; color: white; margin-top: 20px">
                        <div class="card-body">
                            <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead">Coaches</p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col">
                <a class="text-decoration-none" asp-controller="Training" asp-action="Members">
                    <div class="card p-3 shadow text-center border-0" style="background-color: darkred; color: white; margin-top: 20px">
                        <div class="card-body">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead">Members List</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="text-decoration-none" asp-controller="Training" asp-action="Events">
                    <div class="card p-3 shadow text-center border-0" style="background-color: darkred; color: white; margin-top: 20px">
                        <div class="card-body">
                            <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead">Manage Sessions</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col">
                <a class="text-decoration-none" asp-controller="Training" asp-action="CreateEvent">
                    <div class="card p-3 shadow text-center border-0" style="background-color: darkred; color: white; margin-top: 20px">
                        <div class="card-body">
                            <i class="fa fa-image fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead">Create Sessions</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center">
        <div class="bg-light w-100 text-center" style="margin-top: 100px; margin-bottom: 100px; border-radius: 10px">
            <h1 class="display-10 fw-bold fs-60 text-dark" style="margin-top: 20px">Admin User Guide</h1>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MuUGMadR6go?si=tmQRI4vv9YL-CcYK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
    </div>
}

